body{
    background: linear-gradient(45deg, #000000, #4d19db);
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

h1{
    color: white;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
}

h3{
    color: white;
    text-align: center;
}